@import 'theme';
@import 'palette-color';
@import 'common';

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.active-link {
  background-color: $color-pr-90;
}

.spacer {
  flex: 1 1 auto;
}
