@import 'theme';
@import 'palette-color';

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100%;

  .sidebar {
    background-color: #e9e9e9;
    padding: 20px;
    box-shadow: -2px 11px 9px 2px #e9e9e9;

    .list {
      .active-link {
        background-color: $color-pr-90;
      }

      .link {
        text-align: center;
      }
    }
  }

  .page {
    padding: 1rem;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;

    .sidebar {
      background-color: #e9e9e9;
      padding: 3px;
      box-shadow: none;

      .list {
        display: flex;
        justify-content: space-between;

        .link {
          text-align: center;
        }
      }
    }
  }
}
