<mat-card class="card" appearance="outlined">
  <mat-card-header><mat-card-subtitle>Order</mat-card-subtitle></mat-card-header>
  <mat-card-content class="card-content">
    <div>Seat: {{ selectedSeat()?.id }}</div>
    <div>Price: {{ selectedSeat()?.price | currency: 'USD' }}</div>
    <button class="btn" mat-flat-button (click)="onOrder()" [disabled]="!selectedSeat()?.id">Book the trip</button>
  </mat-card-content>
</mat-card>

@if (modal()) {
  <app-modal-window title="Order" (toggleVisibility)="onModal()">
    <p>{{ modalMessage() }}</p>
  </app-modal-window>
}
