<mat-card class="profile-card">
  <mat-card-content>
    <mat-card-title class="profile-title"><b>User Profile</b></mat-card-title>
    <p>Role: {{ role }}</p>
    <div [formGroup]="profileForm" class="profile-field">
      @if (isEditName) {
        <mat-form-field appearance="outline">
          <mat-label>Edit Name</mat-label>
          <input matInput [value]="profileForm.value.name" formControlName="name" />
          <app-form-error-message formControlName="name"></app-form-error-message>
        </mat-form-field>
        <button mat-icon-button matSuffix color="primary" (click)="saveProfile()">
          <mat-icon>save</mat-icon>
        </button>
      } @else {
        <div appearance="outline">
          <mat-label>Name</mat-label>
           <p>{{ profileForm.value.name }}</p>
        </div>
        <button mat-icon-button matSuffix (click)="toggleEditName()">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>

    <div [formGroup]="profileForm" class="profile-field">
      @if (isEditEmail) {
        <mat-form-field appearance="outline">
          <mat-label>Edit Email</mat-label>
          <input matInput [value]="profileForm.value.email" formControlName="email" />
          <app-form-error-message formControlName="email"></app-form-error-message>
        </mat-form-field>
        <button mat-icon-button matSuffix color="primary" (click)="saveProfile()">
          <mat-icon>save</mat-icon>
        </button>
      } @else {
        <div appearance="outline">
          <mat-label>Email</mat-label>
           <p>{{ profileForm.value.email }}</p>
          </div>
          <button mat-icon-button matSuffix (click)="toggleEditEmail()">
            <mat-icon>edit</mat-icon>
          </button>
      }
    </div>

    <div class="profile-actions">
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
        <button mat-raised-button color="accent" (click)="changePassword()">Change Password</button>
    </div>
  </mat-card-content>
</mat-card>
