<div class="trip-header">
  <button mat-button (click)="onBack()">Back</button>
  <div class="trip-direction">
    <div class="trip-station">
      <span>From: {{ stationFrom.cityName }}</span>
      <span>Departure {{ departureDate | date: 'medium' }}</span>
    </div>
    <div class="trip-station">
      <span>&darr;</span>
    </div>
    <div class="trip-station">
      <span>To: {{ stationTo.cityName }}</span>
      <span>Arrival: {{ arrivalDate | date: 'medium' }}</span>
    </div>
  </div>
  <div class="trip-number">
    <span>Ride &numero;:{{ rideId }}</span>
    <button (click)="onModal()">Route details</button>
  </div>
</div>
<div class="trip-content">
  <mat-tab-group class="carriage-selector">
    @for (c of carriages; let i = $index; track i) {
      <mat-tab [label]="c.name">
        <app-carriage
          [rows]="c.rows"
          [leftSeats]="c.leftSeats"
          [rightSeats]="c.rightSeats"
          [initialValue]="c.firstSeatNumber"
          (selectSeat)="onSeatSelect($event, c.code)" />
      </mat-tab>
    }
  </mat-tab-group>

  <app-order-widget class="order-details" [selectedSeat]="selectedSeat()" />
</div>

@if (modal()) {
  <app-modal-window [title]="'Route' + ' ' + rideId" (toggleVisibility)="onModal()">
    <app-route-graph [route]="tripRoute" [startStation]="stationFrom.stationId" [lastStation]="stationTo.stationId" />
  </app-modal-window>
}
