@import 'theme';
@import 'palette-color';
@import 'common';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.trip-header-container {
  background: $color-neutral-90;
}

.trip-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.trip-direction {
  display: flex;
  flex-direction: column;
}

.trip-station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & span:first-child {
    font-weight: bold;
  }
  & span:last-child {
    font-size: small;
  }
}

.trip-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;

  & > span {
    font-weight: bold;
  }

  & > button {
    font-size: small;
    cursor: pointer;
    color: #6174ae;
  }
}

.trip-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 2rem 2rem;
}

.carriage-selector {
  width: 80vw;
}

.carriage-selector__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  & span:nth-child(2) {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.carriage-selector___content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: $color-neutral-variant-100;
  overflow: hidden;
}

.card-header {
  display: flex;
  gap: 1rem;
}

.seat-info {
  height: 30px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid $color-neutral-80;
}

.order-details {
  position: sticky;
  top: 0;
  z-index: 100;
  align-self: flex-end;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 30rem;

  @media #{$media-mobile} {
    width: 100%;
  }
}
