@import 'theme';
@import 'palette-color';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.trip-header {
  background: $color-neutral-90;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.trip-direction {
  display: flex;
  flex-direction: column;
}

.trip-station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & span:first-child {
    font-weight: bold;
  }
  & span:last-child {
    font-size: small;
  }
}

.trip-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;

  & > span {
    font-weight: bold;
  }

  & > button {
    font-size: small;
    cursor: pointer;
    color: #6174ae;
  }
}

.trip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.carriage-selector {
  max-width: 80vw;
}

.carriage-selector__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  & span:first-child {
    font-weight: bold;
  }
}

.order-details {
  width: 20rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
