:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;

  .createButton {
    align-self: flex-end;
  }

  @media (max-width: 767px) {
    padding: 6px;
  }

  .matCard.createdCard {
    width: 100%;

    .cardHeader {
      display: flex;
      gap: 8px;
      white-space: nowrap;
      margin-bottom: 20px;
      padding: 16px 16px 0 16px;
    }

    .cardContent {
      padding: 5px;
      display: flex;
      gap: 5px 30px;
      width: 100%;

      .dataField {
        display: flex;
        gap: 8px;
        white-space: nowrap;
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .cardControls {
      justify-content: space-between;
      gap: 20px;

      .editButton {
        flex: 1 1 70%;
      }

      .deleteButton {
        flex: 1 1 30%;
      }
    }

    .cardFooter {
      padding: 0 16px;
    }
  }
  .carriage {
    width: 100%;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  input::placeholder {
    letter-spacing: -0.8px;
  }
  .formContent {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
  }
  .cardContent {
    padding: 16px;
  }

  .cardFooter {
    padding: 0 16px;
    .unknownErrorContainer {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-in-out;

      .unknownError {
        overflow: hidden;
        font-size: 12px;
        margin-bottom: 0px;
        transition: margin 0.5s ease-in-out;
      }

      &.opened {
        grid-template-rows: 1fr;
        .unknownError {
          margin-bottom: 10px;
        }
      }
    }
  }

  .cardControls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding: 16px;

    .saveButton {
      flex: 1 1 70%;
      border-radius: 5px;
    }

    .cancelButton {
      flex: 1 1 30%;
      border-radius: 5px;
    }
  }
}
