@let isMobile = ($pageWidth | async)?.isMobile;

<h5 class="devider">Carriages</h5>

<button
  mat-flat-button
  color="primary"
  class="full-width createButton"
  type="submit"
  [disabled]="createFormDisabled"
  (click)="createNewForm()">
  Create
</button>

@if (form) {
  <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="matCard" appearance="outlined">
      <mat-card-header class="cardHeader">
        <mat-card-subtitle>{{ formCodeControlValue ? 'Edit' : 'Create' }}</mat-card-subtitle>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardContent">
        <div class="formContent">
          <mat-form-field class="full-width form-input" [subscriptSizing]="'dynamic'">
            <mat-label>Name</mat-label>
            <input matInput [errorStateMatcher]="matcher" placeholder="Enter carriage name" formControlName="name" />
            <mat-error><app-form-error-message formControlName="name" /></mat-error>
          </mat-form-field>
          <mat-form-field class="full-width form-input" [subscriptSizing]="'dynamic'">
            <mat-label>Rows</mat-label>
            <input
              matInput
              [errorStateMatcher]="matcher"
              type="number"
              min="0"
              max="30"
              maxlength="2"
              oninput="this.value = this.value.trim();this.value = this.value.replace(/[^0-9.]/g, '');this.value = this.value.slice(0, 2);"
              placeholder="Enter number of rows"
              formControlName="rows"
              class="full-width" />
            <mat-error><app-form-error-message formControlName="rows" /></mat-error>
          </mat-form-field>
          <mat-form-field class="full-width form-input" [subscriptSizing]="'dynamic'">
            <mat-label>Left seats in row</mat-label>
            <input
              matInput
              type="number"
              [errorStateMatcher]="matcher"
              (ngModelChange)="onLeftChange()"
              min="0"
              max="6"
              maxlength="1"
              oninput="this.value = this.value.trim();this.value = this.value.replace(/[^0-9.]/g, '');this.value = this.value.slice(0, 1);"
              placeholder="Enter number of left seats"
              formControlName="leftSeats"
              class="full-width" />
            <mat-error><app-form-error-message formControlName="leftSeats" /></mat-error>
          </mat-form-field>
          <mat-form-field class="full-width form-input" [subscriptSizing]="'dynamic'">
            <mat-label>Right seats in row</mat-label>
            <input
              matInput
              type="number"
              [errorStateMatcher]="matcher"
              (ngModelChange)="onRightChange()"
              min="0"
              max="6"
              maxlength="1"
              oninput="this.value = this.value.trim();this.value = this.value.replace(/[^0-9.]/g, '');this.value = this.value.slice(0, 1);"
              placeholder="Enter number of right seats"
              formControlName="rightSeats"
              class="full-width" />
            <mat-error><app-form-error-message formControlName="rightSeats" /></mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="cardControls">
        <button
          mat-flat-button
          color="primary"
          class="full-width saveButton"
          type="submit"
          [disabled]="isSubmitDisabled">
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          class="full-width cancelButton"
          type="button"
          (click)="onCanselForm()">
          Cancel
        </button>
      </mat-card-actions>
      <mat-card-footer class="cardFooter">
        @let untrackedErrorText = untrackedErrorMessage();
        <div [ngClass]="{ unknownErrorContainer: true, opened: untrackedErrorText }">
          <mat-error class="unknownError">{{ untrackedErrorText }}</mat-error>
        </div>
        @let carriagePreview = carriageViewState();
        <app-carriage
          class="carriage"
          [editable]="false"
          [rows]="carriagePreview.rows"
          [leftSeats]="carriagePreview.leftSeats"
          [rightSeats]="carriagePreview.rightSeats">
        </app-carriage>
      </mat-card-footer>
    </mat-card>
  </form>
}

@let carriages = carriagesSig();
@for (carriage of carriages; track carriage.code) {
  <mat-card class="matCard createdCard" appearance="outlined">
    <mat-card-header class="cardHeader">
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-title>{{ carriage.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <div class="dataField">
        <span class="title">Rows:</span>
        <span class="value">{{ carriage.rows }}</span>
      </div>
      <div class="dataField">
        <span class="title">Left seats:</span>
        <span class="value">{{ carriage.leftSeats }}</span>
      </div>
      <div class="dataField">
        <span class="title">Right seats:</span>
        <span class="value">{{ carriage.rightSeats }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions class="cardControls">
      @if (isMobile) {
        <button
          mat-flat-button
          color="primary"
          class="full-width editButton"
          type="submit"
          [disabled]="createFormDisabled"
          (click)="editCarriage(carriage)">
          Edit
        </button>
        <button
          mat-flat-button
          color="warn"
          class="full-width deleteButton"
          type="submit"
          [disabled]="isDeleteDisabled || carriage.code === formCodeControlValue"
          (click)="deleteCarriageModal(carriage.code, carriage.name)">
          Delete
        </button>
      } @else {
        <button
          mat-raised-button
          color="primary"
          class="full-width editButton"
          type="submit"
          [disabled]="createFormDisabled"
          (click)="editCarriage(carriage)">
          Edit
        </button>
        <button
          mat-raised-button
          color="warn"
          class="full-width deleteButton"
          type="submit"
          [disabled]="isDeleteDisabled || carriage.code === formCodeControlValue"
          (click)="deleteCarriageModal(carriage.code, carriage.name)">
          Delete
        </button>
      }
    </mat-card-actions>
    <mat-card-footer class="cardFooter">
      <app-carriage
        class="carriage"
        [editable]="false"
        [rows]="carriage.rows"
        [leftSeats]="carriage.leftSeats"
        [rightSeats]="carriage.rightSeats">
      </app-carriage>
    </mat-card-footer>
  </mat-card>
}
