@import 'theme';
@import 'palette-color';
@import 'variables';

$media-mobile: 'screen and (max-width: 767px)';
$media-tablets: 'screen and (min-width: 768px) and (max-width: 1199px)';
$media-desktop: 'screen and (min-width: 1200px)';

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  .registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .matCard {
      background-color: $color-pr-98;
    }

    input::placeholder {
      letter-spacing: -0.8px;
    }
    .formContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 20px;

      & > * {
        align-self: flex-start;
      }

      @media #{$media-tablets} {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
      }
      @media #{$media-mobile} {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 10px;
      }
    }
    .cardContent {
      padding: 16px;
    }

    .cardFooter {
      padding: 0 16px 16px;
      .unknownErrorContainer {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-in-out;

        .unknownError {
          overflow: hidden;
          font-size: 12px;
          margin-bottom: 0px;
          transition: margin 0.5s ease-in-out;
        }

        &.opened {
          grid-template-rows: 1fr;
          .unknownError {
            margin-bottom: 10px;
          }
        }
      }
    }

    .cardControls {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;
      padding: 16px;

      .saveButton {
        flex: 1 1 70%;
        border-radius: 5px;
      }

      .cancelButton {
        flex: 1 1 30%;
        border-radius: 5px;
      }
    }
  }

  .createButton {
    align-self: flex-end;
  }

  @media (max-width: 767px) {
    padding: 6px;
  }

  .matCard.createdCard {
    width: 100%;
    background-color: $color-neutral-95;

    .cardHeader {
      display: flex;
      gap: 8px;
      white-space: nowrap;
      margin-bottom: 20px;
      padding: 16px 16px 0 16px;
    }

    .cardContent {
      padding: 5px 8px;
      display: flex;
      gap: 5px 30px;
      width: 100%;

      .dataField {
        display: flex;
        gap: 8px;
        white-space: nowrap;
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .cardControls {
      justify-content: space-between;
      gap: 20px;
      padding: 5px 8px;

      .editButton {
        flex: 1 1 70%;
      }

      .deleteButton {
        flex: 1 1 30%;
      }
    }

    .cardFooter {
      padding: 5px 8px 8px;
    }
  }
  .carriage {
    padding: 0px;
  }
}
