<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" [style]="{ padding: '10px' }">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        <app-form-error-message formControlName="password"></app-form-error-message>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="closeModal()">Cancel</button>
  <button mat-raised-button color="primary" (click)="savePassword()">Save</button>
</mat-dialog-actions>
