@import 'variables';

$color-primary: #1a3487;
$color-secondary: #ccc;
$color-tertiary: #7e96e3;
$carriage-border: 2px solid $color-secondary;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  container: carriage;
  container-type: inline-size;
}

.carriage {
  border: $carriage-border;
  border-radius: 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

@mixin appendix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  & div {
    height: 5rem;
    width: 5rem;
  }
}

.entrance {
  @include appendix;

  & div {
    border-right: $carriage-border;
  }
}

.exit {
  @include appendix;

  & div {
    border-left: $carriage-border;
  }
}

.rows {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.row {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.seat {
  width: 2rem;
  height: 2rem;

  .indicator {
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }

  .indicator:hover {
    background: $color-tertiary;
  }

  & input[type='checkbox'] {
    display: none;
  }

  & input[type='checkbox']:checked + .indicator {
    background: $color-primary;
    color: #fff;
    font-weight: bold;
    animation: selection 1s;
  }

  & label {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@keyframes selection {
  0% {
    background: $color-secondary;
  }
  100% {
    background: $color-primary;
  }
}

@container carriage (width < 1000px) {
  .carriage {
    transform: rotate(90deg) translate(40%, 0);
  }

  .indicator {
    transform: rotate(270deg);
  }
}
