<div class="container">
  <div class="carriage">
    <div class="appendix"></div>

    <div class="rows">
      <ul class="row">
        @for (line of seats.left; let i = $index; track i) {
          <div class="line">
            @for (seat of line; let i = $index; track i) {
              @if (seat?.id) {
                <li class="seat">
                  <label [for]="seat.id">
                    <input
                      type="checkbox"
                      [checked]="seat.id === selectedSeat()"
                      [disabled]="isDisabled(seat.state)"
                      (change)="onClick($event)"
                      [name]="seat.id"
                      [id]="seat.id" />
                    <span
                      [ngClass]="{
                        indicator: true,
                        thin: compressionLevel() === 1,
                        thinner: compressionLevel() === 2,
                        booked: seat.state === 'booked',
                      }"
                      >{{ seat.id }}</span
                    >
                  </label>
                </li>
              }
            }
          </div>
        }
      </ul>

      <ul class="row">
        @for (line of seats.right; let i = $index; track i) {
          <div class="line">
            @for (seat of line; let i = $index; track i) {
              @if (seat?.id) {
                <li class="seat">
                  <label [for]="seat.id">
                    <input
                      type="checkbox"
                      [checked]="seat.id === selectedSeat()"
                      [disabled]="isDisabled(seat.state)"
                      (change)="onClick($event)"
                      [name]="seat.id"
                      [id]="seat.id" />
                    <span
                      [ngClass]="{
                        indicator: true,
                        thin: compressionLevel() === 1,
                        thinner: compressionLevel() === 2,
                        booked: seat.state === 'booked',
                      }">
                      {{ seat.id }}
                    </span>
                  </label>
                </li>
              }
            }
          </div>
        }
      </ul>
    </div>

    <div class="appendix"></div>
  </div>
  @if (editable()) {
    <div class="map">
      <div>
        <div class="map__item free"></div>
        <span>free</span>
      </div>
      <div>
        <div class="map__item booked"></div>
        <span>booked</span>
      </div>
      <div>
        <div class="map__item selected"></div>
        <span>selected</span>
      </div>
    </div>
  }
</div>
