// examples
$primary-100: #ffffff;
$primary-200: #f2f2f2;
$primary-300: #e5e5e5;
$primary-400: #929292;
$primary-500: #828282;
$primary-900: #000000;
$info-100: #2f80ed;
$success-100: #27ae60;
$warning-100: #f2c94c;
$error-100: #eb5757;
