// examples
$primary-100: #FFFFFF;
$primary-200: #F2F2F2;
$primary-300: #E5E5E5;
$primary-400: #929292;
$primary-500: #828282;
$primary-900: #000000;
$info-100: #2F80ED;
$success-100: #27AE60;
$warning-100: #F2C94C;
$error-100: #EB5757;
