@import 'colors';

$fontFamily: 'Roboto', sans-serif;
$fonSizeRegular: 16px;
$fonSizeLarge: 20px;
$fonSizeSmall: 10px;

:root {
  font-size: $fonSizeRegular;
  font-family: $fontFamily;
  color: $primary-900;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
