@let routePath = path();
@if (routePath) {
  <table class="table">
    <thead class="title">
      <th>Time</th>
      <th>Station</th>
      <th>Stop</th>
    </thead>
    <tbody>
      @for (el of routePath; let i = $index; track i) {
        @if (stationsService.getStationById(el) | async; as station) {
          <tr class="row" [ngClass]="{ highlightedRow: isHighlighted(i) }">
            <td class="col1" [ngClass]="{ first: isFirst(i), last: isLast(i) }">
              @if (i !== 0) {
                <span>
                  {{ segments()?.[i - 1]?.time?.[1] | date: 'HH: mm' }}
                </span>
              }
              @if (i !== routePath.length - 1) {
                <span>
                  {{ segments()?.[i]?.time?.[0] | date: 'HH: mm' }}
                </span>
              }
            </td>
            <td class="col2" [ngClass]="{ first: isFirst(i), last: isLast(i) }">
              {{ station.city }}
              <div class="point"></div>
            </td>
            <td class="col3">
              @if (i === 0) {
                First station
              } @else if (i === stepsAmount()) {
                Last station
              }
              {{ segments()?.[i - 1]?.time?.[1] | duration: segments()?.[i]?.time?.[0] }}
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
}
