@import 'common';
@import 'theme';
@import 'palette-color';

:host {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding-top: 1rem;
}

.no-ride {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;

  font-size: 1.8rem;
  font-weight: 300;
  line-height: 120%;

  color: $color-error-80;
  @media #{$media-mobile} {
    flex-direction: column;
    font-size: 1rem;
  }
}

.tab-group {
  padding: 0 16px;
  margin-bottom: 1rem;
}

.tab {
  background-color: $color-neutral-variant-100;
  ::ng-deep {
    .mdc-tab__text-label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &.active {
    background-color: $color-pr-90;
    box-shadow: 1px 1px 1px $color-neutral-variant-50;
    & .tab-day,
    & .tab-day-week {
      color: $color-pr-40;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.tab-wrapper {
  width: 84vw;
  margin: 0 auto;
}

.tab-content {
  padding: 1rem 1rem;
}

.tab-day {
  color: $color-neutral-variant-20;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
}

.tab-day-week {
  color: $color-neutral-variant-30;
  font-weight: 300;
  font-size: 14px;
}
